{% include "hubspot/styles/responsive/required_base.css" %}
{% include "hubspot/styles/patches/recommended.css" %}

/* Globals */

*, *:after, *:before {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:focus {
    outline: none;
}

html {
    font-size: 280%;
}

@media (max-width: 1440px) {
    html {
        font-size: 250%;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 225%;
    }
}

@media (max-width: 568px) {
    html {
        font-size: 200%;
    }
}

body {
    margin: 0;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.5rem;
    line-height: 0.93rem;
    background: #fff;
    color: #484B4B;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

/* Elements */

h1, h2 {
    font-weight: normal;
}

h1 {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h1 + h2, .blog-post .post-body > span > h2:first-child {
    line-height: 1.1rem;
}

p, h3, h4, h5, h6 {
    font-size: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h3, h4, h5, h6 {
    font-weight: bold;
}

blockquote {
    margin: 1rem 0;
    border-left: 0.1rem solid;
    padding-left: 1rem;
}

attribution {
    display: block;
    margin: 1rem 0;
    text-align: right;
    font-size: 0.4rem;
    margin-left: 2rem;
    line-height: 0.6rem;
    border-right: 0.05rem solid #fff;
    padding-right: 0.5rem;
}

blockquote + attribution {
    margin-top: -0.5rem;
}

attribution:before {
    content: "— ";
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

input[type="submit"], input[type="button"], button {
    margin: 0;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea {
    resize: none;
}

/* Font Loading */

.wf-loading {
    visibility: hidden;
}

.wf-active {
    visibility: visible;
}

/* Buttons */

.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 0.5rem 2rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
}

.page-loaded .button, .page-loaded .button:after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.button:after {
    content: ' ';
    position: absolute;
    z-index: -1;
}

.button.slick {
    overflow: hidden;
    border: 3px solid;
}

.button.slick:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.button.slick:hover:after {
    height: 260%;
    opacity: 1;
}

.button.slick:active:after {
    height: 400%;
    opacity: 1;
}

.button.slick.mini {
    padding: .1rem .5rem;
    font-size: 14px;
    margin: 0 .5rem;
    line-height: .8rem;
    position: relative;
    top: -.08rem;
}

.button.slick.mini:hover:after {
    height: 200%;
    opacity: 1;
}

.button.slick.mini:active:after {
    height: 400%;
    opacity: 1;
}

@media (max-width: 568px) {
    .button.slick:hover:after, .button.slick.mini:hover:after {
        height: 400%;
        opacity: 1;
    }
}

.hs-button.primary {
    border: 0;
    background: #bdc3c7;
    color: #fff;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: pointer;
    font-size: .34rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
}

.hs-button.primary:hover, .hs-button.primary:active {
    background: #495b67;
}

.button, .button:hover, .button:active,
.hs-button, .hs-button:hover, .hs-button:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Utilities */

.centered {
    text-align: center;
}

/* Stripes */

.stripe > .row-fluid-wrapper {
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 17rem;
    margin: 0 auto;
}

.stripe.spaced {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.stripe {}

    .stripe .button.slick {
        border-color: #495b67;
        color: #495b67;
    }

    .stripe .button.slick:hover {
        color: #fff;
    }

    .stripe .button.slick:after {
        background: #495b67;
    }

.stripe.blue {
    background: #495b67;
    color: #fff;
}

.stripe.green {
    background: #70C2B5;
    color: #fff;
}

    .stripe.blue .button.slick, .stripe.green .button.slick {
        border-color: #fff;
        color: #fff;
    }

    .stripe.blue .button.slick:after, .stripe.green .button.slick:after {
        background: #fff;
    }

    .stripe.blue .button.slick:hover {
        color: #495b67;
    }

    .stripe.green .button.slick:hover {
        color: #70c2b5;
    }

.stripe.white {
    background: #fff;
}

.stripe.grey {
    background: #eee;
}

.stripe.bordered {
    border-top: 3px solid #495b67;
    border-bottom: 3px solid #495b67;
}

.stripe.white > .row-fluid-wrapper,
.stripe.green > .row-fluid-wrapper,
.stripe.blue > .row-fluid-wrapper,
.stripe.grey > .row-fluid-wrapper,
.stripe.bordered > .row-fluid-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 1024px) {
    .stripe.white > .row-fluid-wrapper,
    .stripe.green > .row-fluid-wrapper,
    .stripe.blue > .row-fluid-wrapper,
    .stripe.grey > .row-fluid-wrapper,
    .stripe.bordered > .row-fluid-wrapper {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}

@media (max-width: 568px) {
    .stripe.white > .row-fluid-wrapper,
    .stripe.green > .row-fluid-wrapper,
    .stripe.blue > .row-fluid-wrapper,
    .stripe.grey > .row-fluid-wrapper,
    .stripe.bordered > .row-fluid-wrapper {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.stripe.white h2:first-child,
.stripe.green h2:first-child,
.stripe.blue h2:first-child,
.stripe.grey h2:first-child,
.stripe.bordered h2:first-child {
    margin-top: 0;
    margin-bottom: -0.1rem;
    line-height: 0.75rem;
}

.stripe.white p:first-child,
.stripe.green p:first-child,
.stripe.blue p:first-child,
.stripe.grey p:first-child,
.stripe.bordered p:first-child {
    margin-top: 0;
}

.stripe.white p:last-child,
.stripe.green p:last-child,
.stripe.blue p:last-child,
.stripe.grey p:last-child,
.stripe.bordered p:last-child,
.stripe.white ul:last-child,
.stripe.green ul:last-child,
.stripe.blue ul:last-child,
.stripe.grey ul:last-child,
.stripe.bordered ul:last-child,
.stripe.white attribution:last-child,
.stripe.green attribution:last-child,
.stripe.blue attribution:last-child,
.stripe.grey attribution:last-child,
.stripe.bordered attribution:last-child{
    margin-bottom: 0;
}

/* Side paddings */

.side-padding, .stripe > .row-fluid-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
}

.page-loaded .side-padding, .page-loaded .stripe > .row-fluid-wrapper {
    /*
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    transition: padding 0.3s;
    */
}

@media (max-width: 568px) {
    .side-padding, .stripe > .row-fluid-wrapper {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

/* Pages */

body.home-page {}

body.home-page .welcome-header {
    text-align: center;
    line-height: 1.1rem;
    margin: 1rem 0 2.5rem;
}

@media (max-width: 568px) {
    body.home-page .welcome-header {
        margin: 0.5rem 0 1.5rem;
    }
}

body.home-page .welcome-header span {
    display: block;
}

body.home-page .welcome-header span.first-line { color: #bdc3c7; display: none; }
body.home-page .welcome-header span.second-line { color: #70c2b5; }
body.home-page .welcome-header span.third-line { color: #484B4B; display: none;}

body.home-page .welcome-message h1 {
    margin-top: -0.5rem;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 1.5s 0s;
}

body.home-page.page-loaded .welcome-message h1 {
    opacity: 1;
}

@media (max-width: 568px) {
    body.home-page .welcome-message h1 {
        font-size: 0.75rem;
    }
}

body.form-page {}

body.form-page .hs_cos_wrapper_type_form {
    margin-bottom: 1rem;
}

body.form-page .hs_cos_wrapper_type_form .hs-form-field {
    margin-top: -2px;
}

body.form-page .hs_cos_wrapper_type_form .hs-form-field:first-child {
    margin-top: 0;
}

body.form-page .hs_cos_wrapper_type_form input, body.form-page .hs_cos_wrapper_type_form textarea {
    border-radius: 0;
}

body.form-page .hs_cos_wrapper_type_form textarea {
    height: 2.4rem;
}

body.form-page .hs_cos_wrapper_type_form .hs-button.primary {
    padding: .25rem .5rem;
}

body.form-page .hs_cos_wrapper_type_form input:focus, body.form-page .hs_cos_wrapper_type_form textarea:focus {
    z-index: 1;
    position: relative;
}

body.blog-page {}

/* Body Spacing */

body {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    body {
        margin-top: 2rem;
    }
}

@media (max-width: 568px) {
    body {
        margin-top: 1rem;
    }
}

/* SVG Logo */

.logo-link {
    display: block;
    margin: 0 auto;
    border-bottom: 0;
    max-width: 200px;
}

svg.logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    .logo-link {
        max-width: 150px;
    }

    svg.logo {
        width: 150px;
        height: 100px;
        margin-bottom: 0.75rem;
    }
}

@media (max-width: 568px) {
    .logo-link {
        max-width: 100px;
    }

    svg.logo {
        width: 100px;
        height: 70px;
        margin-bottom: 0.5rem;
    }
}

.logo-green svg.logo path {
    fill: #70C2B5;
}

.logo-animated svg.logo {
    opacity: 0;
}

.page-loaded .logo-animated svg.logo {
    opacity: 1;
}

.logo-animated svg.logo path {
    fill: rgba(0, 0, 0, 0);
}

.page-loaded .logo-animated svg.logo path {
    transition: all 1.25s;
    fill: #70C2B5;
}

.logo-animated svg.logo .less-than {
    -webkit-transform: translateX(30px)
}

.page-loaded .logo-animated svg.logo .less-than {
    -webkit-transform: translateX(0px);
}

.logo-animated svg.logo .greater-than {
    -webkit-transform: translateX(-30px)
}

.page-loaded .logo-animated svg.logo .greater-than {
    -webkit-transform: translateX(0px)
}

.logo-animated svg.logo .music-note.top {
    -webkit-transform: translateX(-15px) translateY(30px) scaleX(1) scaleY(0.4) skewX(17deg);
}

.page-loaded .logo-animated svg.logo .music-note.top {
    -webkit-transform: translateX(0px) translateY(0px) scaleX(1) scaleY(1) skewX(0deg);
}

.page-loaded .logo-animated svg.logo .music-note {
    transition: all 0.75s 0.5s;
}

/* Footer */

.footer {
    margin: 1rem 0;
    text-align: center;
}

.footer p {
    font-size: 0.44rem;
}

.footer p.copyright,
.footer p.powered {
    color: #bdc3c7;
    margin: 0;
    line-height: 1;
}

.footer p.copyright {
    font-size: 0.4rem;
    margin-bottom: 0.1rem;
}

.footer p.powered {
    font-size: 0.32rem;
    padding-bottom: 0.25rem;
}

/* Forms */

.hs-form.stacked {
    display: none;
}

.hs-form.stacked { *zoom: 1; }
.hs-form.stacked:before, .hs-form.stacked:after { display: table; content: ""; }
.hs-form.stacked:after { clear: both; }

.hs-form.stacked.form-loaded {
    display: block;
}

.hs_cos_wrapper_type_blog_subscribe .hs-form.stacked {
    position: relative;
    overflow: hidden;
}

.hs_cos_wrapper_type_blog_subscribe .hs-form-field {
    float: left;
    width: 25%;
}

.hs_cos_wrapper_type_blog_subscribe .hs_firstname input,
.hs_cos_wrapper_type_blog_subscribe .hs_lastname input {
    display: block;
    border-right-width: 0;
    box-shadow: 0 2px rgba(189, 195, 199, 0);
    -webkit-transition: border .25s linear, color .25s linear, box-shadow .25s linear;
    -moz-transition: border .25s linear, color .25s linear, box-shadow .25s linear;
    -o-transition: border .25s linear, color .25s linear, box-shadow .25s linear;
    transition: border .25s linear, color .25s linear, box-shadow .25s linear;
}

.hs_cos_wrapper_type_blog_subscribe .hs_firstname input:focus,
.hs_cos_wrapper_type_blog_subscribe .hs_lastname input:focus {
    box-shadow: 2px 0 #70C2B5;
    z-index: 1;
    position: relative;
}

.hs_cos_wrapper_type_blog_subscribe .hs-form-field.hs_email {
    width: 50%;
}

.hs_cos_wrapper_type_blog_subscribe .hs-form-field.hs_email input {
    padding-right: 35%;
}

.hs_cos_wrapper_type_blog_subscribe .hs-form.stacked .hs-form-field input {
    border-radius: 0;
}

.hs_cos_wrapper_type_blog_subscribe .hs-button.primary.large {
    position: absolute;
    right: 0;
    width: 16%;
    top: 0;
    bottom: 0;
}

.hs_cos_wrapper_type_blog_subscribe .form-title {
    display: none;
}

@media (max-width: 568px) {
    .hs_cos_wrapper_type_blog_subscribe .hs-form-field {
        width: 50%;
    }

    .hs_cos_wrapper_type_blog_subscribe .hs-form-field.hs_email {
        width: 65%;
        clear: left;
        margin-top: -2px;
    }

    .hs_cos_wrapper_type_blog_subscribe .hs-form-field.hs_email input {
        padding-right: 0.25rem;
    }

    .hs_cos_wrapper_type_blog_subscribe .hs_lastname input {
        border-right-width: 2px;
        box-shadow: none;
    }

    .hs_cos_wrapper_type_blog_subscribe .hs-button.primary.large {
        top: 49%;
        width: 36%;
    }
}

#blog-comment-form .hs-form-field {
    margin-top: -2px;
}

#blog-comment-form .hs-form-field:first-child {
    margin-top: 0;
}

#blog-comment-form input, #blog-comment-form textarea {
    border-radius: 0;
}

#blog-comment-form textarea {
    height: 2.4rem;
}

#blog-comment-form .hs-button.primary {
    padding: .25rem .5rem;
}

#blog-comment-form input:focus, #blog-comment-form textarea:focus {
    z-index: 1;
    position: relative;
}

body .hs-common-confirm-message {
    background: #70C2B5 !important;
    border: 0 !important;
    padding: 0.25rem 0.5rem !important;
    font-size: 0.5rem !important;
    color: #fff !important;
    margin: 0.25rem 0 !important;
}

/* Blog */

.widget-type-post_listing ul,
.widget-type-post_filter ul,
ul.blog-post-list {
    list-style: none;
    padding: 0;
    line-height: 1rem;
}

.widget-type-post_listing li,
.widget-type-post_filter li,
ul.blog-post-list li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    max-width: 100%;
}

.widget-type-post_listing a:visited,
.widget-type-post_filter a:visited,
.blog-post-list a:visited {
    color: #A2C9C5;
}

.widget-type-post_listing a:visited:before,
.widget-type-post_filter a:visited:before,
.blog-post-list a:visited:before {
    content: "Done ";
}

ul.blog-post-list li {
    display: block;
}

ul.blog-post-list span {
    float: right;
    color: #A2C9C5;
}

.blog-post {
    margin: 0.5rem 0;
    border: 2px solid rgba(162, 201, 197, 0.28);
    border-left: 0;
    border-right: 0;
    padding-bottom: 1rem;
}

.blog-post #hs_cos_wrapper_post_body > *:last-child {
    margin-bottom: 0;
}

.blog-post h1 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.blog-post h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.blog-post .blog-post-date {
    text-align: center;
    display: block;
    margin: 0 0 -0.5rem;
}

.blog-post .blog-post-date span {
    display: block;
    color: #A2C9C5;
    margin-top: -1rem;
    font-size: .6rem;
    display: inline-block;
    padding: 0 .5rem;
    vertical-align: middle;
    background: #fff;
    line-height: 1;
}

.blog-post h1,
.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post h5,
.blog-post h6 {
    text-align: center;
}

.blog-post h2:first-child {
    text-align: left;
}

/* Responsive Things */

.responsive-embed {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 56.25%;
}

.responsive-embed iframe, .responsive-embed object, .responsive-embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.soundcloud-embed iframe {
    width: 100% !important;
    height: 126px !important;
}

/* Hacks */

.widget-type-space {
    display: none !important;
}

.hs_cos_wrapper {
    display: block;
}

.stripe {
    position: relative;
    z-index: 1; /* Makes .button:after display */
}

.hs-tools-menu, .hs-tools-menu * {
    box-sizing: content-box;
}

.hs-tools-menu a {
    border: 0;
}

body .hsformerror {
    background-image: none;
    border: 0;
    color: inherit;
    font-size: 0.4rem;
    padding: 0.25rem 0.5rem;
    margin-left: -23px;
}

body .hsformerror .close-form-error {
    display: none;
}

.hs-form .email-correction,
.hs-form .email-validation {
    /* display: none !important; */
}

/* From modules.css */

.hs-responsive-embed {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 56.25%;
}

.hs-responsive-embed iframe, .hs-responsive-embed object, .hs-responsive-embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Global modules */

.footer-card {
    background: rgba(162, 201, 197, 0.28);
    padding: .1rem .75rem;
    margin-top: 1rem;
}

.header-card {
    text-align: center;
    margin-bottom: 1rem;
}

.header-card .avatar {
    background: #fff url("http://cdn2.hubspot.net/hub/330553/file-448490292-png/resources/cN6enR0D.png") no-repeat;
    background-size: 100% 100%;
    height: 3rem;
    width: 3rem;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 0;
    display: block;
}

@media (max-width: 768px), (max-height: 768px) {
    .header-card .avatar {
        background-image: url("http://cdn2.hubspot.net/hub/330553/file-445758023-png/resources/cN6enR0D-small.png");
    }
}